h1, h3, h4, h2, h5, p{
    border: 1px solid rgb(23, 23, 25);
    display: block;
    }
    a {
        border: 1px solid magenta;
        display:inline-block;
    }
    span{
        border: 2px solid green;
    }
    img{
        border: 2px solid red;
        width: 150px;
        height: 150px;
    }
    